
main {}
footer {}
.topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}
.alg-user-align {
    border-width: 2px !important;
    width: 29px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}
hr.sidebar-divider {
    border-top: 1px solid rgba(255,255,255,.15);
    margin: 0 1rem 1rem;
}
#aside-menu-box {
    width: 14rem;
    min-height: 100vh;
    transition: width 300ms ease-in-out;
    overflow: hidden;
    z-index: 9999;
}

#aside-menu-box .sidebar-heading {
    padding: 0 1rem;
    font-weight: 800;
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,.7);
}
#aside-menu-box .nav-item .nav-link {
    color: #fff;
    padding: 1rem;
}
/* #aside-menu-box .nav-item .nav-link.router-link-active {
    background-color: rgba(0,0,0, 0.2);
} */
#aside-menu-box .nav-item .nav-link.router-link-exact-active {
    background-color: rgba(0,0,0, 0.4);
}
/* media */
@media (max-width: 768px) {
    #aside-menu-box.opened {
        left:0;
    }
    #aside-menu-box {
        position:fixed;
        width: 80% !important;
        top:77px !important;
        background-color:  rgba(44, 62, 80, 0.9) !important;
        left:-80%;
        transition: left 300ms ease-in-out;
    }
}